@model Somativa.Models.Fornecedor

@{
    ViewData["Title"] = "Delete";
}

<div class="container text-center">
    <h3 class="alert-danger p-2">Certeza que quer apagar?</h3>
    <div>
        <hr />
        <h4>Fornecedor</h4>
        <div>
            <dl class="row">
                <p class="col-sm-12">@Html.DisplayNameFor(model => model.Nome): @Html.DisplayFor(model => model.Nome)</p>
                <p class="col-sm-12">@Html.DisplayNameFor(model => model.Cnpj): @Html.DisplayFor(model => model.Cnpj)</p>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="FornecedorId" />
                <input type="submit" value="Apagar" class="btn btn-danger" /> |
                <a asp-action="Index"><svg bootstrap-icon="ArrowLeft" width="24" height="24" aria-label="Alarms"></svg></a>
            </form>
        </div>
    </div>
</div>
