@model Somativa.Models.Venda

@{
    ViewData["Title"] = "Edit";
}


<h4 class="text-center">Editar </h4>
<hr />
<div class="row justify-content-center align-content-center text-center">
    <div class="col-md-4 text-center">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VendaId" />
            <div class="form-floating mb-3">
                <input asp-for="Nota" type="text" class="form-control" id="inNota" placeholder="name">
                <label asp-for="Nota" for="inNota">Nota Fiscal</label>
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ClienteId" type="text" class="form-control" id="inCliente" placeholder="name">
                <label asp-for="ClienteId" for="inCliente">Cliente</label>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="DataHora" class="form-control" id="inData" placeholder="name"/>
                <label asp-for="DataHora" for="inData">Data e Hora</label>
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aplicar Alterações" class="btn btn-primary" />
                <a asp-action="Index"><svg bootstrap-icon="ArrowLeft" width="24" height="24" aria-label="Alarms"></svg></a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
